In [1]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper
import sklearn.impute
from sklearn import impute
from sklearn.impute import SimpleImputer

In [2]:
data=pd.read_csv('../mpg_data_example.csv')

In [3]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [4]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [5]:
imp = SimpleImputer(missing_values=np.nan, copy=False, strategy="mean", )

In [6]:
#Imputing Missing Values using the SimpleImputer Class in sklearn (horsepower)

mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['horsepower'],imp),
                        (['origin'], preprocessing.OneHotEncoder())
                        ])

In [7]:
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [8]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [9]:
X=['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
Y=['mpg']

In [10]:
pipeline_obj.fit(data[X],data[Y].values.ravel())

/Users/mumu/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['horsepower'],
                                            SimpleImputer(copy=False)),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [11]:
pipeline_obj.predict(data[X])

/Users/mumu/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array([17.491, 15.036, 17.21 , 16.26 , 16.721, 14.7  , 14.05 , 14.25 ,
       13.45 , 14.78 , 15.07 , 14.67 , 15.   , 14.54 , 23.84 , 21.71 ,
       19.335, 21.078, 27.05 , 26.631, 24.472, 24.301, 24.725, 24.636,
       20.922, 10.86 , 11.215, 11.715,  9.98 , 27.11 , 26.316, 24.966,
       26.   , 19.329, 16.906, 17.46 , 18.49 , 18.319, 13.945, 13.68 ,
       14.12 , 14.14 , 12.2  , 12.91 , 12.67 , 18.245, 22.105, 18.66 ,
       18.085, 23.85 , 27.075, 29.6  , 29.08 , 31.321, 33.24 , 27.29 ,
       27.05 , 24.371, 25.75 , 23.755, 20.385, 22.26 , 13.5  , 13.72 ,
       14.66 , 14.035, 15.87 , 11.54 , 12.8  , 12.43 , 13.025, 20.561,
       14.74 , 13.775, 13.47 , 14.04 , 19.19 , 22.625, 20.888, 26.01 ,
       22.39 , 26.45 , 22.766, 27.325, 26.855, 13.41 , 14.57 , 13.55 ,
       14.08 , 14.59 , 11.87 , 13.15 , 13.12 , 14.125, 12.42 , 12.11 ,
       13.45 , 18.596, 16.425, 18.36 , 18.009, 21.885, 26.481, 11.53 ,
       12.22 , 12.885, 12.255, 18.62 , 21.67 , 21.485, 23.049, 21.93 ,
       20.19 , 21.354, 25.81 , 14.52 , 15.21 , 28.461, 24.74 , 21.777,
       20.044, 15.409, 23.62 , 20.363, 12.32 , 20.146, 20.586, 19.325,
       15.93 , 31.145, 25.145, 31.183, 24.715, 16.155, 16.12 , 17.848,
       15.355, 13.335, 13.93 , 13.7  , 14.242, 27.495, 27.425, 26.179,
       31.786, 31.755, 27.62 , 25.47 , 25.918, 24.005, 25.399, 29.945,
       19.134, 17.656, 15.764, 16.049, 15.265, 14.965, 15.14 , 14.43 ,
       17.219, 16.156, 15.542, 17.635, 20.396, 19.893, 14.88 , 28.375,
       23.465, 19.665, 22.866, 24.003, 25.609, 24.077, 19.063, 28.805,
       19.115, 23.368, 22.41 , 21.574, 24.272, 32.615, 26.741, 25.001,
       24.876, 25.909, 27.37 , 16.595, 15.785, 16.121, 14.825, 21.427,
       20.74 , 22.923, 21.399, 29.56 , 25.904, 29.05 , 32.63 , 19.464,
       18.149, 18.467, 18.487, 29.   , 31.855, 28.225, 25.929, 20.165,
       13.745, 19.931, 19.615, 17.112, 15.884, 13.895, 13.774, 13.358,
       31.204, 29.631, 34.149, 25.648, 32.973, 16.611, 17.094, 15.69 ,
       15.515, 17.892, 20.305, 18.985, 18.276, 15.805, 15.635, 15.669,
       15.784, 29.595, 24.694, 26.477, 24.994, 30.554, 31.849, 30.495,
       29.92 , 22.066, 22.612, 21.859, 40.134, 35.45 , 34.918, 36.943,
       35.782, 19.918, 18.988, 19.47 , 19.196, 20.221, 20.587, 25.162,
       20.115, 19.703, 20.619, 20.813, 18.892, 18.883, 19.057, 18.287,
       18.617, 17.217, 30.385, 26.024, 26.56 , 30.128, 23.022, 23.275,
       23.209, 24.288, 20.962, 17.623, 21.648, 16.875, 31.99 , 30.674,
       21.304, 21.188, 23.81 , 20.376, 20.446, 17.36 , 17.979, 17.329,
       17.758, 16.534, 16.005, 19.738, 17.661, 33.333, 34.302, 35.248,
       27.98 , 25.525, 21.052, 27.933, 22.217, 35.079, 34.139, 34.084,
       36.082, 28.087, 27.665, 26.025, 31.173, 38.285, 37.4  , 33.189,
       37.038, 27.944, 26.049, 25.087, 20.019, 34.631, 29.884, 31.492,
       34.849, 32.808, 43.428, 26.98 , 40.812, 43.574, 40.454, 33.439,
       30.73 , 41.296, 38.965, 35.012, 32.566, 29.096, 28.7  , 33.664,
       24.313, 32.609, 29.576, 27.329, 26.492, 24.439, 31.278, 38.422,
       37.646, 35.977, 33.695, 36.744, 37.172, 33.994, 34.608, 34.327,
       31.576, 33.819, 34.151, 33.864, 32.734, 31.58 , 31.217, 28.016,
       28.337, 25.708, 24.938, 22.058, 25.137, 21.233, 19.882, 28.495,
       27.666, 33.434, 30.135, 29.196, 27.11 , 24.902, 23.986, 35.591,
       36.338, 33.265, 37.088, 35.632, 35.877, 35.33 , 33.609, 36.15 ,
       33.416, 36.885, 24.989, 31.922, 27.152, 24.541, 30.486, 33.874,
       26.3  , 26.955, 42.055, 32.492, 28.58 , 29.696])

In [12]:
import joblib

In [13]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [14]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [15]:
modelReload.predict(data[X])

/Users/mumu/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array([17.491, 15.036, 17.21 , 16.26 , 16.721, 14.7  , 14.05 , 14.25 ,
       13.45 , 14.78 , 15.07 , 14.67 , 15.   , 14.54 , 23.84 , 21.71 ,
       19.335, 21.078, 27.05 , 26.631, 24.472, 24.301, 24.725, 24.636,
       20.922, 10.86 , 11.215, 11.715,  9.98 , 27.11 , 26.316, 24.966,
       26.   , 19.329, 16.906, 17.46 , 18.49 , 18.319, 13.945, 13.68 ,
       14.12 , 14.14 , 12.2  , 12.91 , 12.67 , 18.245, 22.105, 18.66 ,
       18.085, 23.85 , 27.075, 29.6  , 29.08 , 31.321, 33.24 , 27.29 ,
       27.05 , 24.371, 25.75 , 23.755, 20.385, 22.26 , 13.5  , 13.72 ,
       14.66 , 14.035, 15.87 , 11.54 , 12.8  , 12.43 , 13.025, 20.561,
       14.74 , 13.775, 13.47 , 14.04 , 19.19 , 22.625, 20.888, 26.01 ,
       22.39 , 26.45 , 22.766, 27.325, 26.855, 13.41 , 14.57 , 13.55 ,
       14.08 , 14.59 , 11.87 , 13.15 , 13.12 , 14.125, 12.42 , 12.11 ,
       13.45 , 18.596, 16.425, 18.36 , 18.009, 21.885, 26.481, 11.53 ,
       12.22 , 12.885, 12.255, 18.62 , 21.67 , 21.485, 23.049, 21.93 ,
       20.19 , 21.354, 25.81 , 14.52 , 15.21 , 28.461, 24.74 , 21.777,
       20.044, 15.409, 23.62 , 20.363, 12.32 , 20.146, 20.586, 19.325,
       15.93 , 31.145, 25.145, 31.183, 24.715, 16.155, 16.12 , 17.848,
       15.355, 13.335, 13.93 , 13.7  , 14.242, 27.495, 27.425, 26.179,
       31.786, 31.755, 27.62 , 25.47 , 25.918, 24.005, 25.399, 29.945,
       19.134, 17.656, 15.764, 16.049, 15.265, 14.965, 15.14 , 14.43 ,
       17.219, 16.156, 15.542, 17.635, 20.396, 19.893, 14.88 , 28.375,
       23.465, 19.665, 22.866, 24.003, 25.609, 24.077, 19.063, 28.805,
       19.115, 23.368, 22.41 , 21.574, 24.272, 32.615, 26.741, 25.001,
       24.876, 25.909, 27.37 , 16.595, 15.785, 16.121, 14.825, 21.427,
       20.74 , 22.923, 21.399, 29.56 , 25.904, 29.05 , 32.63 , 19.464,
       18.149, 18.467, 18.487, 29.   , 31.855, 28.225, 25.929, 20.165,
       13.745, 19.931, 19.615, 17.112, 15.884, 13.895, 13.774, 13.358,
       31.204, 29.631, 34.149, 25.648, 32.973, 16.611, 17.094, 15.69 ,
       15.515, 17.892, 20.305, 18.985, 18.276, 15.805, 15.635, 15.669,
       15.784, 29.595, 24.694, 26.477, 24.994, 30.554, 31.849, 30.495,
       29.92 , 22.066, 22.612, 21.859, 40.134, 35.45 , 34.918, 36.943,
       35.782, 19.918, 18.988, 19.47 , 19.196, 20.221, 20.587, 25.162,
       20.115, 19.703, 20.619, 20.813, 18.892, 18.883, 19.057, 18.287,
       18.617, 17.217, 30.385, 26.024, 26.56 , 30.128, 23.022, 23.275,
       23.209, 24.288, 20.962, 17.623, 21.648, 16.875, 31.99 , 30.674,
       21.304, 21.188, 23.81 , 20.376, 20.446, 17.36 , 17.979, 17.329,
       17.758, 16.534, 16.005, 19.738, 17.661, 33.333, 34.302, 35.248,
       27.98 , 25.525, 21.052, 27.933, 22.217, 35.079, 34.139, 34.084,
       36.082, 28.087, 27.665, 26.025, 31.173, 38.285, 37.4  , 33.189,
       37.038, 27.944, 26.049, 25.087, 20.019, 34.631, 29.884, 31.492,
       34.849, 32.808, 43.428, 26.98 , 40.812, 43.574, 40.454, 33.439,
       30.73 , 41.296, 38.965, 35.012, 32.566, 29.096, 28.7  , 33.664,
       24.313, 32.609, 29.576, 27.329, 26.492, 24.439, 31.278, 38.422,
       37.646, 35.977, 33.695, 36.744, 37.172, 33.994, 34.608, 34.327,
       31.576, 33.819, 34.151, 33.864, 32.734, 31.58 , 31.217, 28.016,
       28.337, 25.708, 24.938, 22.058, 25.137, 21.233, 19.882, 28.495,
       27.666, 33.434, 30.135, 29.196, 27.11 , 24.902, 23.986, 35.591,
       36.338, 33.265, 37.088, 35.632, 35.877, 35.33 , 33.609, 36.15 ,
       33.416, 36.885, 24.989, 31.922, 27.152, 24.541, 30.486, 33.874,
       26.3  , 26.955, 42.055, 32.492, 28.58 , 29.696])

In [16]:
temp={}
temp['cylinders']=1
temp['displacement']=2
temp['horsepower']=3
temp['weight']=4
temp['acceleration']=5
temp['model year']=6
temp['origin']=1

In [17]:
testData=pd.DataFrame({'x':temp}).transpose()

In [18]:
testData

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,5,1,2,3,6,1,4

In [19]:
modelReload.predict(testData)[0]

/Users/mumu/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

28.511